.microphone-form {
    display: flex;
    flex-direction: row;
    /* margin-left: 30rem; */
    gap:1.5rem;
    /* padding-left: 200px; */
    align-items: center;
    margin: auto;
    /* width: 300px; */
    /* margin-top: 40px; */
    background: transparent;
}
.recordButton{
    background: transparent;
    border: none;
    border-radius: 50%;
}
.recordButton img {
    width: 40px;
    border-radius: 50%;
    background-image: transparent;
    background-color: #ffffff9c ;
    padding: 10px;
    animation: fading-animation 1s ease-in-out forwards;
}
.recordButton img.listen{
    width: 40px;
    border-radius: 50%;
    background-image: transparent;
    background-color: #ffffff9c ;
    padding: 10px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
    /* background-color: green; */}
.recordButton img.muted-mic{
    width: 40px;
    /* background-image: url('/mute.svg'); */
    background-color: red;
    border-radius: 50%;
    padding: 10px;
    background-size: cover;
    animation: fading-animation 1s ease-in-out forwards;

}
.recordButton img:hover{
    background-color:#333333 ;
    /* background: transparent; */
    border: none;
    border-radius: 50%;
}
.recordButton img.active{
    width: 40px;
    border-radius: 50%;
    background-image: transparent;
    padding: 10px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
    /* background-color: green; */
    animation: pulse 2s infinite;
    background-color: rgb(119, 197, 119);
}

.speakerButton{
    background: transparent;
    border: none;
    border-radius: 50%;
    animation: fading-animation 1s ease-in-out forwards;
}
.speakerButton img{
    width: 40px;
    border-radius: 50%;
    background-image: transparent;
    background-color: #ffffff9c ;
    padding: 10px;
}
.speakerButton img:hover{
    background-color:#333333 ;
    /* background: transparent; */
    border: none;
    border-radius: 50%;
}
.dropup {
    position: relative;
    display: inline-block;
  }
.dropup-content {
    display: none;
    position: absolute;
    bottom: 50px;
    background-color: #ffffff9c;
    min-width: 130px;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 0;
  }
.speaker-1{
    color: black;
    padding: 4px 16px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    display: block;
    border-radius: 20px 20px 0 0;
  }
.speaker-2{
    color: black;
    padding: 4px 16px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    display: block;
    border-radius: 0 0 20px 20px;
  }
.dropup-content .speaker-1:hover, .speaker-2:hover {background-color: #333333}
.dropup:hover .dropup-content, 
.dropup-content:hover {
    display: block !important;
  }

.stopButton{
    background: transparent;
    border: none;
}
.stopButton img:hover{
    background-color:#333333 ;
    /* background: transparent; */
    border: none;
    border-radius: 50%;
}
.start-button-text{
    color:#fff;
}
.stop-button-text{
    color:#fff;
}

.stopButton{
    border-radius: 20%;
}
.stopButton img{
    width: 50px;
    background-color: #f50c0c ;
    border-radius: 50%;
    padding: 10px
}
.stopButton img.active{
    width: 40px;
    background-color: #f50c0c;
    border-radius: 50%;
    padding: 10px
}














@keyframes pulse {
	0% {
		transform: scale(0.85);
		box-shadow: 0 0 0 0 green;
	}

	100% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

}

@keyframes fading-animation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
