.microphone-form {
    display: flex;
    margin-left: 22rem;
    gap:250px;
    padding-left: 200px;
    align-items: center;
    /* width: 300px; */
    margin-top: 40px;
    background: transparent;
}
.recordButton{
    background: transparent;
    border: none;
    border-radius: 50%;
}
.stopButton{
    background: transparent;
    border: none;
}
.recordButton:hover{
    background-color:#333 ;
    /* background: transparent; */
    border: none;
    border-radius: 20%;
}
.recordButton img {
    width: 40px;
    color: blue;
    border-radius: 50%;
    background-image: transparent;
    background-color: #ffffff9c ;
    padding: 10px
    /* background-color: blue;
    padding:0px; */
    
}
.recordButton .active{
   background-color: #95e61480;
}
.start-button-text{
    color:#fff;
}
.stop-button-text{
    color:#fff;
}

.stopButton{
    border-radius: 20%;
}
.stopButton img{
    width: 40px;
    background-color: #f50c0c;
    border-radius: 50%;
    padding: 10px
}
.stopButton:hover{
    background-color:#333 ;
    border-radius: 20%;
}
