.profile-box {
    display: flex;
    width:15rem;
    margin-top: 18rem;
    align-items: center;
    padding: 0.6rem;
    margin-right: 1rem;
    border: 1px solid #757479;
    border-radius: 10px;
    background-color: #000000;

}

.profile-box .profile-symb {
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    font-weight: bold;
    text-align: center;
    margin-right: 1rem;
    margin-left: 2rem;
    /* margin-right: 20px; */
    /* margin-left: 15px; */
    /* padding-bottom: 10px; */
    background-color: #d9d9d9;
    color: #fff;
}
.profile-symb-text{
    font-family: Jost;
    font-size: 0.9rem;
    color: #000000;
    font-weight: 500;
    text-align: center;
}
.profile-text {
    font-size:1.1rem;
    font-weight: bold;
    text-align: center;
    color:#fff;
}
