.sidebar {
    width: 22%;
    height:calc(98vh - 0.5rem);
    max-height:calc(98vh - 0.5rem);;
    min-width: 300px;
    max-width: 1000px;
    margin-left: 1.2rem;
    margin-top: 0.5rem;
    filter:drop-shadow(-5px -5px 5px rgba(0,0,0,0.25));
    border-radius:10px;
    background-image: linear-gradient(90deg,rgba(119,118,121,0.800000011920929)0%,rgba(0,0,0,1)100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .info-container{
    padding: 1rem;
  }
  #company_name{
    font-size: 1.7rem;
    text-align: center;
    color:#fff ;
    font-weight: 700;
  }
  #mobile-company-name{
    display: none;
  }
  #statement{
    font: 'Jost';
    font-size: 1rem;
    text-align: center;
    margin-right: 1rem;
    color: #C0C0C0;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: #757479;
    text-decoration-thickness: 3px;
  
  }
  .menu-box{
    text-decoration: none;
    /* display: flex; */
    text-align: left;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .menu-box ul{
    list-style-type: none;
  }
  .menu-box ul li{
    margin-bottom: 0.1rem;
    padding:0.4rem;
  }
  
  .menu-box ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Jost';
    font-size: 1rem;
    font-weight: 500;
    /* padding-right: 1.4rem; */
    text-align: center;
    padding-left: 0.2rem;
    display:inline-block;
  }
  
  .menu-box ul li img{
    vertical-align:bottom;
    padding-right: 1rem;
    padding-left: 0.8rem;
    width: 3rem;
  }
  #chat-menu img{
    padding-right: 1rem;
    width: 4rem;
    /* justify-content: center; */
    padding-left: 1.9rem;
  }
  .menu-box ul li a:hover {
    /* background-color: #333; */
    padding: 0;
  }
  
  /* .menu-box li a i {
    margin-right: 20px;
  } */
  
  .menu-box li a.active {
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: #757479;
    text-decoration-thickness: 2px;
    /* border: solid; */
  }




/* Tablet*/
@media (max-width: 768px) {
  .sidebar {
      width: 20%;
      min-width: 200px;
  }
  .menu-box{
    margin-left: 1rem;
    margin-right: 0.5rem;
  }
  .menu-box ul li{
    margin-bottom: 0.1rem;
    padding:0.2rem;
  }
  #chat-menu img{
    padding-left: 0rem;

  }
  .menu-box ul li a {
    text-align: center;
    display:inline-block;
    padding-left: 0rem;
  }
  #mobile-company-name{
    display: none;
  }
  #chat-menu img{
    vertical-align:bottom;
    padding-right: 1rem;
    padding-left: 1.3rem;
    width: 3.5rem;

  }
}

/*mobile*/

@media (max-width: 480px) {
  .sidebar {
    width: 10%;
    min-width: 40px;
    margin-left: 0.7rem;
}
.info-container{
  padding: 0rem;
}
  #company_name{
  display: none;
}
  #statement{
    display: none;
  }
  #mobile-company-name{
    display: block;
    text-align: center;
  }
  .menu-box{
    text-decoration: none;
    /* display: flex; */
    text-align: left;
    margin-top: 2rem;
    margin-left: 0;
    margin-right: 0;
   
  }
  #menu-text{
    display: none;
  }
  .menu-box ul li{
    border: #757479 5px solid;
  }
  .menu-box ul li img{
    vertical-align:bottom;
    padding-right: 1.7rem;
    padding-left: 0rem;
    width: 3.5rem;
  }
  #chat-menu img{ /* TODO for phone have separated list and more size for image*/
    padding-right: 1.7rem;
    padding-left: 0;
    width: 3.5rem;
    /* justify-content: center; */
  }
}