.main-container{
  /* border: yellow dashed 1px; */
  margin-top: 0.5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 0.5rem);
  max-height: calc(100vh - 0.5rem);
  width:100%;
}
.chat-box{
  /* border: red dashed 1px; */
  position: relative;
  display: flex;
  height: calc(90vh - 0.5rem);
  max-height: calc(90vh - 0.5rem);
  width: 100%;
  border-radius:10px;
  gap: 2px;
  overflow-y: auto;
  
}
.chat-box::-webkit-scrollbar{
    width: 5px;
}

.chat-box::-webkit-scrollbar-track {
    background: transparent;
}
.chat-box::-webkit-scrollbar-thumb {
    background: #555;
    
}
.chat-box::-webkit-scrollbar-thumb:hover {
  background: #fff;
}
.video-message-area{
  /* border: blue dashed 1px;    */
  margin-top: 2rem;
  width: 75%;
  height: 90%;
  max-height: 90%;
  /* overflow-y: auto; */
  padding-bottom: 2rem;
  padding-right:3rem;
  padding-left: 3rem;
  padding-bottom:1rem ;
  flex-shrink: 0;
}

.video-player-container{
  /* border: white 1px dashed;  */
  flex: 1;

  /* width: 100%; */
}

.user-message {
    /* background-color: #7c7372; #393e46; */
    background-color: #f8efed; /* #393e46;*/
    color: #000;
    float: right;
    clear: both;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    white-space: pre-wrap;
}

.ai-message {
    background-color: #757479;
    float: left;
    clear: both;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    white-space: pre-wrap;

}
.loading-dots {
    position: absolute;
    flex-direction: row;
    top: 550px;
    left: 400px;
    width: 1%;
    height: 1%;
    display: flex;
    background-color: transparent/* rgba(0, 0, 0, 0.5); */;
    z-index: 9999;
    transform: rotate(-90deg);
    display: none;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 5px;
  animation: loading-dots 1s infinite alternate;
}
@keyframes loading-dots {
    0% {
      transform: scale(0);
    }
  
    40% {
      transform: scale(1);
    }
  
    100% {
      transform: scale(0);
    }
  }

/* mobile */
@media (max-width: 768px) {
  .video-message-area{
    padding-right:0.5rem;
    padding-left: 0.5rem;
    height: calc(82vh - 1rem);
    max-height: calc(82vh - 1rem);
    
}    
  }

/* mobile */
@media (max-width: 480px) {
  .video-message-area{
    padding-right:0.5rem;
    padding-left: 0.5rem;
    height: calc(82vh - 1rem);
    max-height: calc(82vh - 1rem);
    
}    
  }
